<div class="card">
    <div class="card-header">Basket</div>

    <ul class="list-group list-group-flush">
        <li class="list-group-item" *ngFor="let product of basket$ | async">
            {{product.title}} <span class="label label-primary pull-right">{{product.price | currency:'EUR'}}</span>
        </li>
    </ul>
</div>

<div class="card mt-3">
    <div class="card-header">Order</div>

    <div class="card-body">
        <form (submit)="checkout()" [formGroup]="myForm">
            <div class="form-group">
                <label class="control-label" for="name">Name</label>
                <input type="text" id="name" class="form-control" name="name" formControlName='name'>
                <label *ngIf="isRequired('name')">Ce champs est requis</label>
            </div>

            <div class="form-group">
                <label class="control-label" for="address">Address</label>
                <textarea id="address" class="form-control" name="address" formControlName='address'></textarea>
                <label *ngIf="isRequired('address')">Ce champs est requis</label>
            </div>

            <div class="form-group">
                <label class="control-label" for="creditCard">Credit card number</label>
                <input [ngClass]="{error: myForm.get('creditCard')?.errors}" id="creditCard" class="form-control"
                    name="creditCard" formControlName='creditCard'>

                <label *ngIf="isRequired('creditCard')">Ce champs est requis</label>
                <label *ngIf="myForm.get('creditCard')?.errors?.pattern">Ce champs est mal formatté</label>
            </div>
            <button type="button" (click)="checkout()" [disabled]="!myForm.valid"
                class="btn btn-success pull-right">Validate</button>
        </form>
    </div>
</div>