<div class="product-item thumbnail card" [@stockStatus]="(data.stock < 2)?'last':'available'"
    [ngClass]="{ last: isTheLast() }">
    <img [src]="data.photo" alt="t-shirt" class="card-img">
    <div class="card-body">
        <h3>{{ data.title | uppercase }} - {{ data.price | currency:'EUR' }} ({{ data.stock }})</h3>
        <p>{{ data.description }}</p>
    </div>

    <div class="card-footer">
        <button mat-raised-button [color]="isTheLast()?'warn':'accent'" (click)="addToBasketClick()">Ajoutez au
            panier</button>
    </div>
</div>